.resumePage {
  /* display: grid; */
  /* grid-template-columns: 1fr 3fr; */
  height: 100vh;
}

.sideInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #404040;
  color: white;
  padding-right: 15px;
  padding-left: 15px;
}

.mainInfo {
  height: 100%;
  text-indent: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* padding-left: 15px; */
}