.linksDiv {
  text-align: center;
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.otherLink {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.individualLinks {
  color: inherit;
}

@media (max-width: 700px) {
  .linksDiv {
    display: grid;
  }
}
